.Contact{
    padding: 30px 60px;
    background: url(./contact.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
   
}
.ContactText{
    padding-top: 20px;
}
.Contact h1{
    color: white;
font-size: 50px;
font-weight: 600;
}
.Contact h3{
    color: white;
font-size: 22px;
font-weight: 400;
}

form{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 100px;
    align-items: center;
    justify-content: center;
}

.ContactForm select{
    
    width: 99%;
    padding: 10px!important;
}

 .inputName, .inputPhone, .inputEmail, .inputBusiness{
 
    width: 49%; 
} 


.inputMessage{
   
        width: 100%;
        /* height: 150px; */
        border-radius: 10px;
        outline: none;
        padding: 5px 10px;
        margin: 5px;
    }
.ContactForm input, select{
   
    margin: 5px 5px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

.Contact .HeaderBlur{
    width: 100%;
    height: 81%;
    background: black;
    opacity: 70%;
    left: 0;
    z-index: 34;
    top: 4233px;
}


.ContactContainer{
    position: relative;
  z-index: 35;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 200px;
}


.Contact .btn{
    margin-top: 20px;
background-color:#509BF4;
color: white;

transition: all 0.5s ease-in-out;
}

.Contact .btn:hover{
    background: linear-gradient(0deg, #509BF4, #509BF4),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
color: white;    
}


.Contact-class-no-bg{
    background: none;
}
.Contact-class-no-bg form input,select{
    border: 1px solid black;
}
.Contact-class-no-bg .ContactText h1{
    color: black;
}

