.Footer{
    position: relative;
}

.FooterContainer{
    background-image: url(.//Rectangle\ 2153.png);
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    background-repeat: no-repeat;
    padding: 90px 60px;
    background-size: cover;
    
   
}

.Info,.services,.comp,.Navigations,.staffing{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 50%;
margin: 0px 15px;
}
/* .Info{
    width: 30%;
} */

.Footer h1{

font-size: 17px;
font-weight: 700;

}
.Footerbtn{
background: red;
    padding: 5px 20px;
    width: 123px;
    text-align: left;
    margin: 5px;
    font-size: 14px;
    color: white;
}

.Info .socialIcons{
    position: relative;
    top: 10px;
    bottom: 0;
  
}

.socialIcons i{
    font-size: 25px;
    margin: 0px 5px;
    padding: 10px 11px;
    background-color: white;
    border-radius: 30px;
    transition: all 0.3s ease-in;
}

.fa-brands{
    padding: 10px 11px;
}
.socialIcons i:hover{
    background-color: black;
    color: white;
}
.ForMobile{
    display: none!important;
}

.ForPc img{
    margin: 5% 0;
}

.ForPc button{
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.Contact textarea{
    outline: 1px solid black;
}