.Footer{
    position: relative;
}

.FooterContainer{
    background-image: url(.//Rectangle\ 2153.png);
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    background-repeat: no-repeat;
    padding: 90px 60px;
    
   
}

.Info,.services,.comp,.Navigations,.staffing{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 50%;
margin: 0px 15px;
}
/* .Info{
    width: 30%;
} */

.Footer h1{

font-size: 17px;
font-weight: 700;


}


