
.stacking{
    z-index: -1!important;
}
.logoSide img{
    width: 200px;
}
.nav_black{
    position: fixed;
    background-color: white!important;
    z-index: 99;
    width: 100%;
   box-shadow:  -1px -6px 20px 6px #e3e3e3    
}

a:hover{
    border-bottom: 1px solid red;
}
.Navbar .remote{
    position: fixed;
    right: 0;
    top: 90%;
    z-index: 99;
    border-radius: 0!important;
    padding: 20px;
}
.NavLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 56%;

}
.NavLinks a{
text-decoration: none;
color: black;
font-size: 14px;
}



.Navbar .buttons i{
    font-size: 12px;
}
.Navbar .buttons .btn{
    background-color: black;
    margin: 0 6px;
border-radius: 20px;
font-size: 12px;
box-shadow: 0 5px 11px -1px #000;
}
.Navbar .buttons .career{
    background-color: #509BF4;
}
.Navbar .buttons .btn:hover{
    background: linear-gradient(0deg, #509BF4, #509BF4),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
 color: white;
}
.Navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.link.active{
    border-bottom: 1px solid red;
}
.service-drop-menu, .ind-menu, .location-menu, .resource-tab{
    position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 0 12px  13px;
  display: none;
  flex-direction: column;
  z-index: 999;
  line-height: 3;
  top: 20px;
}

.location-menu-wrapper:hover .location-menu{
    display: flex;
}
.resource-menu-wrapper:hover .resource-tab{
    display: flex;
}

.wrapper{
    display: flex;
    align-items: center;
    position: relative;
}

.wrapper i{
    margin: 0 5px;
    font-size: 14px;
}

.ind-menu{
    display: none;
}

.service-competencies,.service-solution{
display: none;
flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  left: 180px;
  top:0;
  line-height: 3;
}
.service-drop-menu span{
font-size: 14px;
width: 100%;
}
.service-drop-wrapper:hover, .compi-drop-wrapper:hover{
border-bottom: 1px solid red;
cursor: pointer;
}

.service-wrapper:hover .service-drop-menu{
    display: flex;
}



.service-drop-wrapper:hover .service-solution{
    display: flex;
}
.compi-drop-wrapper:hover .service-competencies{
    display: flex;
}
.service-solution:hover{
    display: flex;
}
.service-competencies:hover{
    display: flex;
}

.resource-tab{
    padding: 12px 16px;
    min-width: 100px;
}
.location-menu{
    padding: 12px 16px;
    min-width: 120px;
}

.showmenu{
    display: flex!important;
    flex-direction: column;
    border-bottom: 1px solid red;
}

.serviceLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ServicesLink span{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CompetenciesLink span{
display: flex;
font-size: 14px;
justify-content: space-between;
align-items: center;
}
.serviceLinkflex{
    border-bottom: 1px solid red;
}
.serviceLinkflex a{
    border:none!important;
}
.serviceLink{
    border-bottom: 1px solid red;
}
.mobile{
    padding:  15px!important;
}
.Navbar{
    padding:  15px!important;
}

.ind-menu{
    background-color: #c7dffc;
display: none;
    flex-direction: row;
    min-width: 100vw;
    position: absolute;
    right: -605px;
    align-items: center;
    padding: 60px 120px;
    justify-content: space-between;
}

.ind-menu .left{
width: 45%;
line-height: 1.5;
}
.ind-menu .left h2{
    font-size: 30px;
    border-bottom: 1px solid red;
    margin-bottom: 20px;
}

.icon-item{
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}

.ind-menu .right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.ind-menu:hover{
    display: flex;

}

.ind-menu-wrapper:hover .ind-menu{
    display: flex;
}

.loc{
    border-bottom: none!important;
}

.location-link, .resource-link{
    width: 100%;
    border-bottom: none!important;
}

.location-link-arrow, .resource-link-arrow{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid red;
}

.location-mobile-menu,.resource-mobile-menu{
    display: none;
}

.icon-item i{
    font-size: 28px;
}