
.stacking{
    z-index: -1!important;
}
.logoSide img{
    width: 200px;
}
.nav_black{
    position: fixed;
    background-color: white!important;
    z-index: 99;
    width: 100%;
   box-shadow:  -1px -6px 20px 6px #e3e3e3    
}
.Navbar .remote{
    position: fixed;
    right: 0;
    top: 90%;
    z-index: 2;
    border-radius: 0!important;
    padding: 20px;
}
.NavLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

}
.NavLinks a{
text-decoration: none;
color: black;
font-size: 14px;

}

.Navbar .buttons i{
    font-size: 12px;
}
.Navbar .buttons .btn{
    background-color: black;
    margin: 0 6px;
border-radius: 20px;
font-size: 12px;
box-shadow: 0 5px 11px -1px #000;
}
.Navbar .buttons .career{
    background-color: #509BF4;
}
.Navbar .buttons .btn:hover{
    background: linear-gradient(0deg, #509BF4, #509BF4),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
 color: white;
}
.Navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.link{
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.link.active{
    border-bottom: 1px solid red;
}

.locationDrop.active{
    border: none;
}
.resourcesDown.link.active{
    border: none;
}
/* DROP DOWN CSS
.dropDown {
    z-index: 2;
    display: none;
    position: absolute;
    left: 20%;
    top: 7%;
    padding: 18px;
    background: white;
    box-shadow: 0 8px 12px 4px #00000052;
  }
  .dropDown-scroll{
    top: 60%;
  }
  .LocationDropDown-scroll{
    top: 60%!important;
  }
  .dropDown a {
    color: black;
    text-decoration: none;
    line-height: 2;
    border-bottom: 1px solid grey;
  }
  .serviceDrop:hover + .dropDown  {
    display: flex;
    align-items: center;
  }
 
  .LocationDropDown{
    z-index: 2;
    display: none;
    flex-direction: column;
    line-height: 4;
    left: 53%;
    top: 7%;
    position: absolute;
    padding: 18px;
    background: white;
    box-shadow: 0 8px 12px 4px #00000052;
  }
  .ResourcesDropDown{
    z-index: 2;
    display: none;
    flex-direction: column;
    line-height: 4;
    left: 62.5%;
    top: 7%;
    position: absolute;
    padding: 18px;
    background: white;
    box-shadow: 0 8px 12px 4px #00000052;
}
.resourcesDown:hover +.ResourcesDropDown{
    display: flex;
}
.ResourcesDropDown:hover{
    display: flex;
}

  .dropDown:hover{
  display:flex;
  flex-direction: row;
  align-items: center;
  }
  button {
    padding: 10px 20px;
  }

.locationDrop:hover + .LocationDropDown{
    display: flex;
}
.LocationDropDown:hover{
    display: flex;
}

.LocationDropDown a {
    color: black;
    text-decoration: none;
    line-height: 2;
    border-bottom: 1px solid grey;
  }
  .ResourcesDropDown a{
    color: black;
    text-decoration: none;
    line-height: 3;
    border-bottom: 1px solid grey;
  } */

/* @media (max-width:1280px) {
    .logoSide{
        width: 30%;

    }
    .logoSide img{
        width: 200px;
    }

    .NavLinks{
        width: 105%;
        position: relative;
        left: 25px;
    }

    .buttons{
        width: 42%;
        position: relative;
        left: 10px;

    }
    .Navbar .buttons .btn{
        padding: 8px 12px;
        margin: 0 6px;
    }
    

    .Navbar{
        padding: 20px 10px;
    }

    .NavLinks a{
        font-size: 14px;
    }
    
} */
/* .ServicesLink,.CompetenciesLink{
   padding: 10px;
} */



.displayNone{
    display: none;
}

/* .ServicesLink span:hover{
    cursor: pointer;
}

.CompetenciesLink span:hover{
    cursor: pointer;
}


.ServiceLinkTab{
    display: flex;
    flex-direction: column;
    
}

.CompetenciesLinkTab{
    display: flex;
    flex-direction: column;
    
} */

.ServiceDropDown{
    display: flex;
    flex-direction: column;
}
.service-solution{
    display: none;
}

.service-competencies{
    display: none;
}

.service-drop-menu{
    position: absolute;
    display: flex;
    flex-direction: column;

}

 .resource-tab, .location-menu{
    position: absolute;
    background-color: white;
    line-height: 4;
    z-index: 4;
    top: 7%;
    left: 52%;
    display: none;
    font-size: 14px;
    padding: 0 20px;
    flex-direction: column;
    cursor: pointer;
}

.resource-tab{
    left: 61%;
}
.servicedropper:hover +.service-drop-menu{
    display: flex;
   
}

.service-drop-menu:hover{
    display: flex;
}
.service-drop-menu{
    display: none;
    position: absolute;
    background-color: white;
    line-height: 4;
    z-index: 4;
    top: 7%;
    font-size: 14px;
    padding: 0 20px;
    flex-direction: column;
    cursor: pointer;

}
.it-service-btn:hover +.service-solution{
    display: flex;
}

.service-solution, .service-competencies {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    background: white;
    left: 100%;
    width: 100%;
    line-height: 3;
    text-align: center;
}
.it-service-btn::after , .it-compi-btn::after{
    content: ' > ';
}

.it-service-btn:hover +.service-solution {
    display: flex!important;
}

.showmenu{
    display: flex!important;
    flex-direction: column;
}

.resourcesDown:hover +.resource-tab{
    display: flex;
}
.locationDrop:hover +.location-menu{
    display: flex;
}
    .resource-tab:hover,.location-menu:hover{
        display: flex;
}

.serviceLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ServicesLink span{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CompetenciesLink span{
display: flex;
font-size: 14px;
justify-content: space-between;
align-items: center;
}