.HamBurger{
    display: none;
}
.swiper-3d{
    height: 50vh;
}
.mobileResponsiveImg{
    display: none!important;
}

i:hover{
    cursor: pointer;
}

.serviceLinkflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1920px){
.service-drop-menu{
    top: 6%;
    left: 30%;
}
}
@media (max-width:1600px){
.service-drop-menu{
    top: 7%;
    left: 29%;
}
}
@media  (max-width:1440px){
.service-drop-menu{
    top: 7%;
    left: 28%;
    justify-content: space-between!important;

}
}

@media (max-width:1366px){
    .service-drop-menu{
        top: 6%;
        left: 26%;
    }

}
@media (min-width:1440px){
    *{
        justify-content: space-around!important;
    }
}
@media (max-width:1024px) {
  
    .serviceLinkflex .serviceLink{
        width: 100%;
    }
    .mobile .CompetenciesLink,.ServicesLink{
        display: none;
    }
    .mobile .CompetenciesLinkTab{
    display: none;
   }


 


   .mobile .ServiceLinkTab{
    display: none;
   }
    .HamBurger {
        display: block!important;
    }

    .NavLinks{
        display: none;
    }
    .Navbar .buttons{
        display: none;
    }
    .mobile{
        overflow: scroll!important;
        padding: 10px;
        top: 0;
        text-align: center;
        left: 0;
        display: block;
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: absolute;
        z-index: 2;
        height:100vh
    }
    .NavTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
    .mobile .NavigationLinks{
     display: flex;
        flex-direction: column;
        float: left;
        text-align: left;
        width: 100%;
        line-height: 4;
    }
    .TestimonialCard{
        margin: 40px 0!important;
    }
    }
    .mobile a{
        color: rgb(0, 0, 0);
       
        border-bottom: 1px solid red;
    }
    .fa-solid{
        font-size: 24px;
    }
    
.socialIcons i{
    font-size: 12px!important;
    margin: 2px 2px 10px 2px!important;
}
.ContactContainer{
    padding: 0 1px!important;
}
.ContactForm input, select {
    margin: 5px 3px!important;
    padding: 10px!important;
}




.mobile-Nav{
    background-color: black;
    display: flex;
    align-items: center;
}
.mobile-Nav .Page-link a{
    display: flex;
    color: white;
}
.Menu {
    position: relative;
    top: 25px;
}



@media (max-width:768px){

    .InfoImage{
        display: none!important;
    }
    .mobileResponsiveImg{
        display: flex!important;
        padding: 15px!important;
    }
    .Navbar{
        padding: 10px!important;
    }
.FooterContainer .services a ,.comp a ,.Navigations a ,.staffing a{
    text-align: center;
    width: 100%;
    line-height: 3;
    border-bottom: 1px solid #797979;
    color: inherit;
    text-decoration: inherit;
}
.Header{
    height: 40vh!important;
}
.swiper-horizontal{
    height: 100%;
}
.About{
padding: 30px!important;
}
.AboutText{
    text-align: center;
}
.About .AboutText h4{
    font-size: 30px;
}

.About .AboutText h1{
    font-size: 24px;
    text-align: center;
    width: 100%;
    border:none;
    padding: 30px;
    text-decoration: underline 2px solid red;
}
.Header .banner .headerText{
    font-size: 24px;
}
.Header .banner .headerText button{
    font-size: 12px;
}
.Header .banner{
    text-align: center;
}
.ForMobile{
    display: flex!important;
}
.Info .servicesn.comp  .Navigations .staffing{
    width: 48%!important;
}

.InfoComponent{
    text-align: center;
    flex-direction: column-reverse;

}
.Reverse{
    text-align: center;
    flex-direction: column!important;
    align-items: center!important;
}
.InfoText{
    padding: 10px;
    width: 100%!important;
}

.FooterContainer img{
    width: 200px!important;
}

.FooterContainer {
    padding: 30px!important;
    display: grid!important;
    grid-template-rows: 2fr;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
}
.Info, .services, .comp, .Navigations, .staffing{
    padding: 15px!important;
    justify-content: space-evenly;
    width: 100%!important;
    align-items: flex-start;
}
.Contact .ContactContainer h1{
    font-size: 30px;
}
.Contact .ContactContainer h3{
    font-size: 16px;
}
.Contact .ContactContainer form{
    padding: 15px;
}
.Services .ServicesSlides{
    display: none;
}
.Services .swiper-slide-active .ServicesSlides {
    display: flex;
}

}


@media (max-width:425px){
    .HeaderComponent .banner{
        padding: 15px!important;
        height: 20vh;
    }
    .HeaderComponent .banner .headerText h1{
        font-size: 30px!important;
    }
    .Header .banner{
        padding: 50px;
        height: 30vh;
    }
    .Header .banner h1{
        font-size: 30px;
    }
    .Header .banner .headerText{
        width: 100%;
        padding: 15px!important;
        top: 45%;
        position: relative;
    }
    .Header .banner .headerImg{
   display: none;
    }
    .AboutText{
        width: 100%!important;
    }
    .About{
        padding: 15px!important;
        flex-direction: column;
    }
    .About .AboutText h1{
        padding: 15px;
    }
    
    .About .AboutText .h4{
        padding: 0 0 15px 0;
    }
    .About .AboutText button{
        margin: 15px;
    }
    .ServiceContainer{
        flex-direction: column;
        padding: 15px!important;
       
    }
    .ServiceSlider{
        width: 100%!important;
        position: relative;
        right: 20px;
        margin:0!important;
        padding: 0!important;
    }
    .Services{
        padding: 15px!important;
    }

   .Services .ServiceText{
        width: 100%!important;
        padding: 15px 0;
    }
    .ContactContainer{
        padding: 0px 2px!important;
    }
    .inputName, .inputPhone, .inputEmail, .inputBusiness{
        width: 100%!important;
    }

    .Contact{
        padding: 15px!important;
    }
    .ForMobile{
        display: flex!important;
    }
    .Testimonials h1{
        width: 100%!important;
        font-size: 24px!important;
    }
    .Testimonials .swiper-slide-active .TestimonialCard{
        transform: translate(1);
    }
    .NewsLetter{
        padding: 15px!important;
        border-radius: 12px!important;
    }
    .NewsLetter h1{
        font-size: 30px!important;
    }
    .NewsLetter .Form form{
        padding: 10px 0;
    }

  
    .NewsLetter .Form form button{
        width: 100%;
        text-align: center;
        margin: 0!important;
        left: 0!important;
    }

    .Services h1{
        font-size: 24px!important;
        width: 100%!important;
        text-decoration: underline 2px solid red;
        text-align: center;
        border: none!important;
    }
    .Services .swiper-slide.swiper-slide-visible.swiper-slide-active{
        position: relative;
        left: 10%;
    }
    .Services .ServiceText h4{
    font-size: 30px;
    }
    .Services .ServiceText{
        text-align: center;
    }
    .Testimonials h1{
        border:none!important;
        text-decoration: underline 2px solid red;
    
    }
    .Testimonials{
        padding: 30px!important;
    
    }
    .Partners h1{
font-size: 24px;
    }
 .Partners .PartnersIcon{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
 }
 .Partners{
    padding: 15px!important;
 
 }

.FooterContainer{
    grid-template-rows: 2fr!important;
    grid-template-columns: none;
    padding: 15px!important;
    
}

.FooterContainer .Info, .services, .comp, .Navigations, .staffing{
align-items: center;
}
.InfoComponent{
    padding: 15px!important;
}
.InfoComponent .InfoText h3{
    font-size: 24px;
    padding: 15px;
}
.ServicesHeader .banner{
    padding: 30px;

}
.InfoComponent h4{
    margin: 15px!important;
}
.ServicesHeader .banner .headerText h1{
    font-size: 30px;
}
.ServicesHeader .banner .headerText p{
    width: 100%;
}

.ServiceSlider h1{
    font-size: 24px!important;
    position: relative;
    left: 7%;
}

.Form input{
    text-align: center;
    margin: 10px;
    width: 100%!important;
}
.Form form{
    padding: 10px 0!important;
}

.ServicesHeader .banner .headerText{
    text-align: center;
}
.HeaderComponent{
    justify-content: center!important;
    padding: 15px!important;
    height: 20vh!important;
}
.HeaderComponent .headerText h1{
    font-size: 30px;
}

.InfoImage img{
    width: 250px!important;
}

.IconsComponent{
    padding: 15px!important;
}
.IconsComponent h4{
    margin: 15px!important;
}
.Icons{
    padding: 15px!important;
    grid-template-columns: 2fr 2fr!important;
    grid-template-rows: none;
}
.BannerContainer{
    padding: 60px 15px!important;

}
.BannerContainer p{
    text-shadow: 0 0 8px #000000;
}
.InfoText span{
    padding: 15px!important;
    font-size: 18px!important;
    font-size: 500!important;
}
.IconsItem{
    margin: 15px!important;
}
.IconsItem span{
    font-size: 18px!important;
}
.BoldHeadingList ul li{
    text-align: left;
}

.AssessmentSliderContainer {
    flex-direction: column;
    height: 70vh;
    padding: 30px!important;
}
.AssessmentSliderContainer .AssessmentSliderImg{
    width: 50%;
}
.AssessmentSliderContainer .AssessmentSliderText{
    width: 100%;
    text-align: center;
}
.HelpDeskIcons .IconsItem{
    flex-direction: column!important;
}
.HelpDeskIcons{
grid-template-rows: 1fr 1fr 1fr!important;
}
.HelpDeskBanner2 h5{
    font-size: 18px!important;
    font-weight: 500;

}
.BoldHeadingList{
    text-align: left;
}

.Industries .BoldHeadingList {
    display: grid!important;
    grid-template-columns: 2fr 2fr!important;
    justify-items: start!important;
    align-items: start!important;
}
.InfoText p{
    font-size: 18px!important;
    font-weight: 500!important;
}
.ServicePageSlider{
    left: 20%!important;
}
}