.HamBurger i.fa-solid{
    display: none;
}
.swiper-3d{
    height: 50vh;
}
.swiper-horizontal{
    height: 50vh;
}
i:hover{
    cursor: pointer;
}
@media (max-width:1024px) {
   
    .NavLinks{
        display: none;
    }
    .Navbar .buttons{
        display: none;
    }
    .mobile{
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: 2;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    }
    .mobile a{
        color: white;
        text-align: right;
        width: 80%;
        border-bottom: 1px solid red;
    }
    .fa-solid{
        font-size: 24px;
    }
    
.socialIcons i{
    font-size: 12px!important;
    margin: 2px 2px 10px 2px!important;
}
.ContactContainer{
    padding: 0 150px!important;
}
.ContactForm input, select {
    margin: 5px 3px!important;
    padding: 10px!important;
}
.inputName, .inputPhone, .inputEmail, .inputBusiness {
    width: 48%!important;
}
} 


.mobile-Nav{
    background-color: black;
    display: flex;
    align-items: center;
}
.mobile-Nav .Page-link a{
    display: flex;
    color: white;
}
.Menu {
    position: relative;
    top: 25px;
}


@media (max-width:768px){
.ForPc{
display: none!important;
}

.ForMobile{
    display: flex!important;
}
.Info, .services, .comp, .Navigations, .staffing{
    width: 100%;
}

.InfoComponent{
    text-align: center;
    flex-direction: column-reverse;

}
.Reverse{
    text-align: center;
    flex-direction: column!important;
    align-items: center!important;
}
.InfoText{
    padding: 10px;
    width: 100%!important;
}
}

@media (max-width:425px){
    .HeaderComponent .banner{
        padding: 30px!important;
    }
    .HeaderComponent .banner .headerText h1{
        font-size: 30px!important;
    }
    .Header .banner{
        padding: 50px;
        height: 30vh;
    }
    .Header .banner h1{
        font-size: 30px;
    }
    .Header .banner .headerText{
        width: 100%;
    }
    .Header .banner .headerImg{
   display: none;
    }
    .AboutText{
        width: 100%!important;
    }
    .About{
        flex-direction: column-reverse;
    }
    .ServiceContainer{
        flex-direction: column;
    }
    .ServiceSlider{
        width: 100%!important;
    }
    .Services{
        padding: 30px 20px!important;
    }
    .ServiceText{
        width: 100%!important;
    }
    .ContactContainer{
        padding: 0px 30px!important;
    }

    .inputName, .inputPhone, .inputEmail, .inputBusiness{
        width: 100%!important;
    }
    .Contact{
        padding: 30px!important;
    }
    .ForMobile{
        display: flex!important;
    }
    .Testimonials h1{
        width: 100%!important;
    }
    .Testimonials .swiper-slide-active .TestimonialCard{
        transform: translate(1);
    }
}