.About {
    background: url("./Assets//Rectangle\ 2151.png");
    padding: 80px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: -1;
  }
  
  .AboutText {
    width: 45%;
    animation: AnimateLeft 2.5s cubic-bezier(0.56, 0.23, 0.45, 0.94);
  }
  
  .AboutText h1 {
    font-size: 30px;
    border-bottom: 2px solid #fe2d2d;
    width: max-content;
  }
  
  .AboutText h4 {
    padding-bottom:30px ;
    font-size: 47px;
  }
  
  .AboutVid img {
    width: 500px;
  }
  
  .AboutText button{
    background-color:#509BF4;
  }