.About {
    background: url("./Assets//Rectangle\ 2151.png");
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }
  
  .AboutText {
    width: 45%;
    animation: AnimateLeft 2.5s cubic-bezier(0.56, 0.23, 0.45, 0.94);
  }
  
  .AboutText h1 {
    font-size: 30px;
    border-bottom: 2px solid #fe2d2d;
    width: max-content;
  }
  
  .AboutText h4 {
    font-size: 47px;
  }
  
  .AboutVid {
    animation: AnimateRight 2.5s cubic-bezier(0.56, 0.23, 0.45, 0.94);
  }
  