.AboutHeader{
    background-image: url(./Assets/AboutPageHeaderImg.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: -1;
    }

    .AboutHeader .HeaderBlur{
        height: 54%;
    }