
.AssessmentSliderContainer{
    background:url(./Assets/assessmentSliderBg.png);
    display: flex;
    padding: 100px 60px;
    align-items: center;
    height: 80vh;
    z-index: 99;
}
.AssessmentContainer p{
    width: 90%;
    font-size: 22px;
}
.AssessmentSliderText{
    width: 70%;
}
.AssessmentSliderImg{
    width: 30%;
}
.AssessmentSliderText h1{
    font-size: 50px;
    font-weight: bold;
}
