.ConsultancyHeader{
    background: url(./Assets/ConsultancyHeaderImg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 40px;
    z-index: -1;
}
.ConsultancyContainer{ 
       display: flex;
       justify-content: space-between;
align-items: center;
padding: 30px 60px;
}
.ConsultancyInfo{
    padding: 20px 0 0 0;
}

.Container1,.Container2,.Container3{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Container1{
    background:url(./Assets/ConsultancyContainer.png);
}
.Container2{
    background: url(./Assets/ConsultancyContainer1.png);
}
.Container3{
    background: url(./Assets/ConsultancyContainer2.png);
}

.ConsultancySection{
    background: url(./Assets/ConsultancySection.png);
    background-position: center;
    background-size: cover;
    padding: 100px;
    margin-top: 20px;
    

}
.ConsultancySectionText{
    
    color: white;
    text-align: center;
}

.ConsultancySectionText .btn{
    background-color:#509BF4;
}