.EmergencySupportHeader{
    background: url(./Assets/EmergencySupportHeader.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
}

.EmergencyInfoContainer{
    padding: 60px 100px;
    display: flex;
    align-items: center;
}
.EmergencyInfoText{
    width: 70%;
    margin: 0 20px;
}
.EmergencyInfoText h2{
    font-size: 24px;

}
.EmergencyInfoText li{
    text-decoration : dotted;
}
.EmergencyInfoImg{
    width: 30%;
    
}
.EmergencyInfoImg img{
    border-radius: 25px;
}
.EmergencyInfoImg img:hover{
    box-shadow: 13px 12px 18px 0px #00000073;

}

hr{
    margin: 5px 0;
    background-color: red;
    width: 25%;
    height: 0.5vh;
}
.secondCont{
    flex-direction: row-reverse;
}
.EmergencyInfoContainerFirst{
    background: url(./Assets/EmergencyContainer.png);
}