.HelpDeskHeader{
    background:url(./Assets/HelpDeskHeader.png);
    background-position: center center;
    background-size: cover;
    z-index: -1;
    position: relative;
}

.HelpDeskSection{
background:url(./Assets/HelpDeskContainer.png);
}

.HelpDeskSection2{
    background:url(./Assets/HelpDeskContainer2.png);
    }

 .HelpDeskSection2 p{
        color: black;
 }

 .EmergencyDeskIcons{
    display: flex;
    flex-direction: column;
 }

 .HelpIconSecction{
    display: flex;
    flex-wrap: wrap;
 }

 .HelpDeskIconContainer {
width: 50%;
margin: 40px 0px;
 }
 .HelpDeskIconContainer h3{
    width: 50%;
 }
 .HelpIcons{
    padding: 40px 60px;
    background:  #509af481;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
 }
 .HelpIcons h2{
    color: #509BF4;
    width: 60%;
    font-size: 24px;
    font-weight: 600;
 }