.Icons{
    font-size: 25px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
}
.IconsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
margin: 40px 20px;
text-align: center;}

.IconsItem i{
    margin: 10px 0;
}
.IconsComponent h4{
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    color:#509bf4;
}
.IconsComponent {
    background-color: #e2ebf7;
    padding: 20px 30px;
}
.IconsItem span{
    font-size: 22px;
}
.HelpDeskIcons .IconsItem{
    flex-direction: row;
}
.HelpDeskIcons .IconsItem i{
    margin: 0px 30px;
}

