.OfficeHeader{
    background:url(./Assets/OfficeHeader.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
}