.StaffingHeader{
    background: url(./Assets/StaffingHeader.png);
    background-position: center;
    background-size: cover; 
}

.StaffingCont1{
    background:url(./Assets/StaffingCover.png);
}

.StaffingCont2{
    background: url(./Assets/StaffingCover1.png);
}
.StaffingCont3{
    background: url(./Assets/StaffingCover2.png);
}