.Testimonials{
    background: url(./Assets/Rectangle\ 2152.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 60px;

}

.Testimonials h1{
    font-size: 30px;
    width: max-content;
    text-align: center;
    border-bottom: 2px solid #FE2D2D;
}


.TestimonialCard {
    margin: 50px 40px;
        padding: 20px;
        background-color: white;
        display: grid;
        border-radius: 12px;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
        align-items: center;
       
}



.TestimonialText{
    right: 15%;
    position: relative;
    grid-column: 2;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
 
}

.TestimonialInfo h5{
    font-weight: 800;
}
.TestimonialInfo p{
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
}
.TestimonialText h6{
    font-weight: 800;
    font-size: 15px;
}
.TestimonialText p{
    font-size: 14px;
}

.Testimonials .swiper-slide-active .TestimonialCard{
    transform: scale(1.1);
}
.Testimonials .swiper-slide-active .TestimonialCard p h6{
    font-size: 18px;
}